<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        input {
            display: flex;
            flex-direction: column;
            margin: 5px;
        }

    </style>

</head>
<body>

<form action="/login" method="post">

    <label>FirstName: <input type="text" name="firstName"></label>
    <label>LastName: <input type="text" name="lastName"></label>
    <label>Email: <input type="text" name="email"></label>
    <label>Password: <input type="text" name="password"></label>
    <label>Age: <input type="number" name="age"></label>
    <label>City: <input type="text" name="city"></label>
    <input type="submit" value="Save">

</form>

</body>
</html>